body{
    background-image: url(Archivos/Images/fondo.jpg);
}
header{
    
    background-image: linear-gradient(to top left,
    rgb(30, 5, 30),
    #641474,
    rgb(30, 5, 30));

}
#titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
nav{
    background-color: #91e9b9;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}

h1{
    color: #91e9b9;
    font-style: italic;
    
    
}

#contenedor {
    
    justify-content: space-between;
    align-items: center;
    height: 100%; 
   
    
}

#bienvenida, #QuienesSomos, #PQR{

    
    background-color: transparent;
    background: rgba(255, 255, 255, 0.25);
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left:40px ;
    margin-right:40px ;
    min-width: 90%;
    max-width: 90%;
    min-height: 100%;
    max-height: 10%;

}
.formularioPqr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #91e9b9; max-width: 53.5%;;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #993399;
}

input[type="submit"] {
    background: #800080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #660066; 
}

label,input{
    border-radius: 5px;

}
.listaCategorias{
    list-style: none;
    padding: 0;
}

.listaCategorias li {
    margin: 0 0 10px 0; 
    padding-left: 20px; 
    background-image: url('Archivos/Images/luna.png');
     
    background-repeat: no-repeat; 
    
    background-size: 15px 15px;
  }
  
  
  
  
  
