header{
    background-image: linear-gradient(to top left,
    rgb(30, 5, 30),
    #641474,
    rgb(30, 5, 30));
    border-radius: 5px;

}

#titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(galax.jpg) ;
}

h1 {
    text-align: center;
    color: #91e9b9; 
}
h2{
    text-align: center;
    color: #000000; 
}

form {
    max-width: 400px;
    margin: 0 auto;
    background: #91e9b9; 
    padding: 30px;  
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

/* form{
    max-width: 100%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #993399;
    border-radius: 5px;
} */

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #993399; 
    border-radius: 5px;
}

input[type="radio"] {
    margin: 0 10px 0 0;
}

div {
    text-align: left;
}

input[type="submit"] {
    background: #800080;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #660066; 
}

@media(min-width:768px){

}

@media(min-width:992px){

}       

input
{
    width: 375px;
}
